@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Viga&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-pt-sans;
    }
}
@layer components {
    .nav-btn {
        @apply text-text-medium flex items-center justify-center gap-1 hover:font-bold;
    }
    .nav-btn:hover > svg {
        @apply stroke-2;
    }
    .nav-active {
        @apply font-bold;
    }
    .nav-active:hover > svg {
        @apply stroke-2;
    }
    .bg-apple {
        background-image: url("/Apple Mask.png");
        background-repeat: no-repeat;
        background-position: right top;
        @apply sm:bg-contain bg-cover;
    }
    .bg-oval {
        background-image: url("/Oval Mask.svg");
        background-repeat: no-repeat;
        background-position: right center;
        @apply bg-cover md:bg-contain;

    }
    .bg-red-oval {
        background-image: url("/Red Oval Mask.svg");
        background-repeat: no-repeat;
        background-position: right center;
        @apply bg-cover md:bg-contain;

    }
    .bg-orange-oval {
        background-image: url("/Orange Oval Mask.svg");
        background-repeat: no-repeat;
        background-position: right center;
        @apply bg-cover md:bg-contain;

    }
    .cart-item-count {
        @apply text-xs px-2 py-1 rounded-2xl bg-primary text-white absolute top-[-8px] right-[-8px];
    }
    .horizontal-items {
        @apply grid gap-4 grid-auto-col-45 grid-flow-col overflow-x-scroll snap-x-mandatory scroll-p-4;
    }
    .horizontal-items > * {
        scroll-snap-align: start;
    }
}

@layer utilities {
    .grid-auto-col-45 {
        grid-auto-columns: 30%;
    }
    .snap-x-mandatory {
        scroll-snap-type: x mandatory;
    }
    .mini-underline {
        @apply relative pb-3 mb-9;
    }
    .mini-underline::after {
        bottom: 0;
        left: 0;
        content: "";
        position: absolute;
        width: 100px;
        height: 2px;
        @apply bg-primary-light;
    }
    .hide-child-svg > svg {
        @apply hidden md:block;
    }
    .hide-arrows {
        @apply appearance-none;
    } 
    .hide-arrows[type='number'] {
        appearance: textfield;
        -moz-appearance:textfield;
    }
    .hide-arrows::-webkit-outer-spin-button,
    .hide-arrows::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}

.filter-sidebar {
    @apply h-screen md:h-auto top-0 left-0 right-0 bottom-0 fixed md:static z-20 md:z-0;
}


.active-product-image {
    border: 2px solid #3AAA35;
}